::-webkit-scrollbar {
    display: none;
}

:root {
    font-family: 'Noto Serif KR', serif;
}

body {
    font-family: var(--body-font);
}

.title {
    background-color: rgb(212, 212, 212);
    text-align: center;
    height: 80px;
}

.titletxt {
    font-size: 3rem;
    padding-top: 10px;
}

.main_img {
    /* position: relative; */
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

.main_img {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.logo {
    position: absolute;
    font-size: 2.55rem;
    margin-left: 10px;
    margin-top: 10px;
}

.group {
    display: flex;
}

.grouptag {
    flex: 1;
    margin-top: 10px;
    margin-left: 10px;
    width: 600px;
    height: 700px;
    background-color: rgb(212, 212, 212);
}

h5 {
    text-align: center;
}

.tag:hover {
    cursor: pointer;
}

.tag {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.637);
    /* color: rgba(216, 216, 216, 0.637); */
    border-radius: 30px;
    width: 100px;
    height: 28px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tagtext {
    text-align: center;
    color: #4d4b4b;
}

.placegroup {
    margin-right: 10px;
    flex: 1;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 600px;
    height: 700px;
    background-color: rgb(212, 212, 212);
}

img {
    width: 300px;
    height: 230px;
}

.im1 {
    margin-left: 10px;
}

.cont:hover {
    cursor: pointer;
}

footer {
    display: inline;
    margin-left: 100px;
    bottom: 0;
    width: 100%;

}

.text {
    text-align: left;
    background-color: rgba(216, 216, 216, 0.387);
}

.text1 {
    color: #4d4b4b;
    margin-left: 20px;
}

.text2 {
    margin-left: 20px;
    cursor: pointer;
}