::-webkit-scrollbar {
    display: none;
}
:root {
    font-family: 'Noto Serif KR', serif;
}
body {
    font-family: var(--body-font);
}

.title {
    background-color: #c99669c0;
    height: 80px;
}
.main_img {
    /* position: relative; */
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.logo {
    position: absolute;
    font-size: 2.55rem;
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    text-align: center;
    margin-left: auto; margin-right: auto;
}
.titletxt{
    font-size: 3rem;
    padding-top: 10px;
}

.Gdropdown {
    height: 80px;
}

.dropdown {
    float: left;
    margin: 10px;
}

.im1 {
    margin-left: 4rem;
    /* margin-left: 50px; */
    float: left;
}
.heartBtn {
    position: relative;
    top: -30px;
    right: 40px;
    font-size: 30px;
    float: right;
    border: 0;
    outline: 0;
    background-color: #fff;
}
.heartBtn1 {
    position: relative;
    top: -30px;
    right: 40px;
    font-size: 30px;
    float: right;
    border: 0;
    outline: 0;
    background-color: #fff;
}
.heartBtn2 {
    position: relative;
    top: -30px;
    right: 40px;
    font-size: 30px;
    float: right;
    border: 0;
    outline: 0;
    background-color: #fff;
}
.heartBtn3 {
    position: relative;
    top: -30px;
    right: 40px;
    font-size: 30px;
    float: right;
    border: 0;
    outline: 0;
    background-color: #fff;
}
.heartBtn4 {
    position: relative;
    top: -30px;
    right: 40px;
    font-size: 30px;
    float: right;
    border: 0;
    outline: 0;
    background-color: #fff;
}
.heartBtn5 {
    position: relative;
    top: -30px;
    right: 40px;
    font-size: 30px;
    float: right;
    border: 0;
    outline: 0;
    background-color: #fff;
}
.heartBtn6 {
    position: relative;
    top: -30px;
    right: 40px;
    font-size: 30px;
    float: right;
    border: 0;
    outline: 0;
    background-color: #fff;
}
.heartBtn7 {
    position: relative;
    top: -30px;
    right: 40px;
    font-size: 30px;
    float: right;
    border: 0;
    outline: 0;
    background-color: #fff;
}
.heartBtn8 {
    position: relative;
    top: -30px;
    right: 40px;
    font-size: 30px;
    float: right;
    border: 0;
    outline: 0;
    background-color: #fff;
}
/* h5{
    display: contents;
} */
img {
    width: 350px;
    height: 243px;
}

.main_img {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
}

/* .img-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.tag:hover {
    cursor: pointer;
}
.tag {
    background-color: antiquewhite;
    color: #553e2b;
    border-radius: 30px;
    width: 30%;
    height: 28px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tagtext {
    text-align: center;
    color: #4d4b4b;
}
.loca {
    color: #4d4b4b;
}
footer {
    display: inline;
    margin-left: 100px;
    bottom: 0;
    width: 100%;

}
.text {
    text-align: left;
    background-color: pink;
}
.text1{
    color: #4d4b4b;
    margin-left: 20px;
}
.text2{
    margin-left: 20px;
    cursor: pointer;
}
.whole {
    overflow: auto;
}
