::-webkit-scrollbar {
    display: none;
}
:root {
    font-family: 'Noto Serif KR', serif;
}
body {
    font-family: var(--body-font);
}

.title {
    background-color: #c99669c0;
    text-align: center;
    height: 65px;
}

.main_img {
    /* position: relative; */
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}
.main_img {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
}
.logo {
    position: absolute;
    font-size: 2.55rem;
    margin-left: 10px;
    margin-top: -3px;
}
.group {
    display: flex;
}
.grouptag {
    flex: 1;
    margin-top: 10px;
    margin-left: 10px;
    width: 600px;
    height: 700px;
    background-color: #c99669c0;
}
h5 {
    text-align: center;
}
.tag:hover {
    cursor: pointer;
}
.tag {
    margin-left: 10px;
    background-color: antiquewhite;
    color: #553e2b;
    border-radius: 30px;
    width: 100px;
    height: 28px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tagtext {
    text-align: center;
    color: #553e2b;
}
.placegroup {
    margin-right: 10px;
    flex: 1;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 600px;
    height: 700px;
    background-color: #c99669c0;
}
img {
    width: 300px;
    height: 230px;
}
.im1 {
    margin-left: 10px;
}
.cont:hover {
    cursor: pointer;
}
