::-webkit-scrollbar {
    display: none;
}

:root {
    font-family: 'Noto Serif KR', serif;
}

body {
    font-family: var(--body-font);
    background-color: antiquewhite;
}

.im1 {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    margin-left: 20px;
    float: left;
    background-color: #c99669c0;
}

img {

    padding: 25px;
    text-align: center;
    width: 350px;
    height: 243px;
}

.text1 {
    margin: 20px;
    color: #553e2b;
    font-size: 18px;
}

.text2 {
    margin: 20px;
    color: #553e2b;
    font-size: 18px;
}

.text3 {
    margin: 20px;
    color: #553e2b;
    font-size: 18px;
}
