::-webkit-scrollbar {
    display: none;
}

:root {
    font-family: 'Noto Serif KR', serif;
}

body {
    font-family: var(--body-font);
    background-color: rgb(212, 212, 212);
}

.im1 {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    margin-left: 20px;
    float: left;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

img {

    padding: 25px;
    text-align: center;
    width: 350px;
    height: 243px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.text1 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}

.text2 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}

.text3 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}

.text4 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}

.text5 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}

.text6 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}

.text7 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}

.text8 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}

.text9 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}

.text10 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}

.text11 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}

.text12 {
    margin: 20px;
    color: #3a3a3a;
    font-size: 18px;
}